# Required
DATABASE_CONNECTION_STRING=Host=localhost;Port=5432;Database=email_hub;Username=email_hub;Password=change-me
RABBITMQ_URI=amqps://username:password@rabbitmq.example.com:5671/vhost
RABBITMQ_QUEUE=email-hub
BREVO_API_KEY=change-me
BREVO_BASE_URL=https://api.brevo.com/v3
GLITCHTIP_DSN=https://examplePublicKey@glitchtip.example.com/1
GLITCHTIP_RELEASE=email-hub
KEYCLOAK_AUTHORITY=https://identity.alaasmagi.dev/realms/email-hub
KEYCLOAK_CLIENT_ID=email-hub
KEYCLOAK_CLIENT_SECRET=change-me
